#### Problem Statement :- 
    Given a bank customer, build a neural network-based classifier that can determine whether they will leave or not in the next 6 months. Perform following steps: 
       1. Read the dataset. 
       2. Distinguish the feature and target set and divide the data set into training and test sets. 
       3. Normalize the train and test data. 
       4. Initialize and build the model. Identify the points of improvement and implement the same. 
       5. Print the accuracy score and confusion matrix (5 points).
       
Dataset link : https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
import seaborn as sns
import matplotlib.pyplot as plt 
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow import keras
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Churn_Modelling.csv')
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [5]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
df.drop(['RowNumber','Surname', 'CustomerId'], axis = 'columns', inplace =True)
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [8]:
le = LabelEncoder()
df.Gender = le.fit_transform(df.Gender)
df.Geography = le.fit_transform(df.Geography)
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [9]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

In [11]:
x = df.drop('Exited', axis= 'columns')
y = df['Exited']

In [12]:
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,0,0,42,2,0.00,1,1,1,101348.88
1,608,2,0,41,1,83807.86,1,0,1,112542.58
2,502,0,0,42,8,159660.80,3,1,0,113931.57
3,699,0,0,39,1,0.00,2,0,0,93826.63
4,850,2,0,43,2,125510.82,1,1,1,79084.10

In [13]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [14]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size= 0.2, random_state =1)

In [15]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [16]:
model = keras.Sequential([
    keras.layers.Dense(13, input_shape=(10,),activation='relu'),
    keras.layers.Dense(15, activation='relu'),
    keras.layers.Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

model.fit(x_train, y_train, epochs=100)

Epoch 1/100
250/250 [==============================] - 2s 2ms/step - loss: 0.5510 - accuracy: 0.7297
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4387 - accuracy: 0.8094
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 0.4171 - accuracy: 0.8215
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3967 - accuracy: 0.8384
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3789 - accuracy: 0.8484
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3672 - accuracy: 0.8512
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3601 - accuracy: 0.8555
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3553 - accuracy: 0.8554
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3514 - accuracy: 0.8571
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3491 - accuracy: 0.8575
Epoch 11/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3477 - accuracy: 0.8585
Epoch 12/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3452 - accuracy: 0.8579
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3438 - accuracy: 0.8593
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3427 - accuracy: 0.8585
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3425 - accuracy: 0.8584
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3414 - accuracy: 0.8601
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3401 - accuracy: 0.8604
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3403 - accuracy: 0.8604
Epoch 19/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3391 - accuracy: 0.8602
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3382 - accuracy: 0.8618
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3377 - accuracy: 0.8619
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3369 - accuracy: 0.8604
Epoch 23/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3361 - accuracy: 0.8605
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3360 - accuracy: 0.8601
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3351 - accuracy: 0.8627
Epoch 26/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3352 - accuracy: 0.8626
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3338 - accuracy: 0.8621
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3332 - accuracy: 0.8651
Epoch 29/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3332 - accuracy: 0.8639
Epoch 30/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3326 - accuracy: 0.8615
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3317 - accuracy: 0.8629
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3312 - accuracy: 0.8644
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3319 - accuracy: 0.8620
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3308 - accuracy: 0.8625
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3306 - accuracy: 0.8637
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3300 - accuracy: 0.8624
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3300 - accuracy: 0.8637
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3298 - accuracy: 0.8622
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3290 - accuracy: 0.8639
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3290 - accuracy: 0.8646
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3283 - accuracy: 0.8639
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3277 - accuracy: 0.8649
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3277 - accuracy: 0.8621
Epoch 44/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3276 - accuracy: 0.8643
Epoch 45/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3263 - accuracy: 0.8649
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3273 - accuracy: 0.8634
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3264 - accuracy: 0.8639
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3259 - accuracy: 0.8651
Epoch 49/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3256 - accuracy: 0.8648
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3254 - accuracy: 0.8620
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3253 - accuracy: 0.8648
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3249 - accuracy: 0.8643
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3247 - accuracy: 0.8651
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3248 - accuracy: 0.8636
Epoch 55/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3239 - accuracy: 0.8660
Epoch 56/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3243 - accuracy: 0.8635
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3237 - accuracy: 0.8652
Epoch 58/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3235 - accuracy: 0.8636
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3238 - accuracy: 0.8648
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3237 - accuracy: 0.8645
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3231 - accuracy: 0.8648
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3224 - accuracy: 0.8652
Epoch 63/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3222 - accuracy: 0.8661
Epoch 64/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3229 - accuracy: 0.8651
Epoch 65/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3230 - accuracy: 0.8648
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3222 - accuracy: 0.8641
Epoch 67/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3220 - accuracy: 0.8639
Epoch 68/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3220 - accuracy: 0.8648
Epoch 69/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3213 - accuracy: 0.8648
Epoch 70/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3222 - accuracy: 0.8654
Epoch 71/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3214 - accuracy: 0.8645
Epoch 72/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3212 - accuracy: 0.8658
Epoch 73/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3207 - accuracy: 0.8664
Epoch 74/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3208 - accuracy: 0.8660
Epoch 75/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3213 - accuracy: 0.8637
Epoch 76/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3207 - accuracy: 0.8669
Epoch 77/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3205 - accuracy: 0.8658
Epoch 78/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3203 - accuracy: 0.8661
Epoch 79/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3194 - accuracy: 0.8648
Epoch 80/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3197 - accuracy: 0.8671
Epoch 81/100

250/250 [==============================] - 1s 5ms/step - loss: 0.3198 - accuracy: 0.8646
Epoch 82/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3193 - accuracy: 0.8664
Epoch 83/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3197 - accuracy: 0.8658
Epoch 84/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3195 - accuracy: 0.8658
Epoch 85/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3192 - accuracy: 0.8646
Epoch 86/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3196 - accuracy: 0.8662
Epoch 87/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3186 - accuracy: 0.8673
Epoch 88/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3189 - accuracy: 0.8670
Epoch 89/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3186 - accuracy: 0.8656
Epoch 90/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3192 - accuracy: 0.8655
Epoch 91/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3186 - accuracy: 0.8686
Epoch 92/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3183 - accuracy: 0.8650
Epoch 93/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3185 - accuracy: 0.8673
Epoch 94/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3179 - accuracy: 0.8658
Epoch 95/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3187 - accuracy: 0.8665
Epoch 96/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3183 - accuracy: 0.8675
Epoch 97/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3177 - accuracy: 0.8681
Epoch 98/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3180 - accuracy: 0.8670
Epoch 99/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3178 - accuracy: 0.8668
Epoch 100/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3172 - accuracy: 0.8679

In [15]:
model.evaluate(x_test, y_test)

63/63 [==============================] - 0s 1ms/step - loss: 0.3340 - accuracy: 0.8605

[0.33404800295829773, 0.8604999780654907]

In [16]:
yp = model.predict(x_test)

In [17]:
y_pred = []
for element in yp:
    if element > 0.5:
        y_pred.append(1)
    else:
        y_pred.append(0)

In [17]:
cm = tf.math.confusion_matrix(labels = y_test, predictions = y_pred)
plt.figure(figsize = (10,7))
sns.heatmap(cm, annot=True, fmt='d')
plt.xlabel('Predicted')
plt.ylabel('Actual')

NameError: name 'y_pred' is not defined